@model ChalkIt.Models.Course

<div class="message">

</div>

@if(Model.CourseName == null)
{
    <h2>Add a Course</h2>
}
else
{
    <h2>Edit a Course</h2>
}
<br />


<div>
    @Html.LabelFor(m => m.CourseName)
    @Html.TextBoxFor(m => m.CourseName)
    @Html.ValidationMessageFor(m => m.CourseName)
</div>
<br />
<div>
    @Html.LabelFor(m => m.CourseDescription)
    @Html.TextBoxFor(m => m.CourseDescription)
    @Html.ValidationMessageFor(m => m.CourseDescription)
</div>
<div>
    @Html.TextBoxFor(m => m.CourseID,new { style = "display: none;" })
</div>
<br />
@if (Model.CourseName == null)
{
    <button type="submit" class="submit">Add</button> 
}
else
{
    string authorName = ViewBag.AuthorName;
    string deleteCourseUrl = Url.Action("DeleteCourse", "Author", new { courseID = Model.CourseID, userName = authorName });
    string courseListUrl = Url.Action("CourseList", "Author", new { userName = authorName });
    string deleteMessage = "Deleted the course "+Model.CourseName;
    <div class="buttonStyle" onclick="ajaxDeleteCourse('@deleteCourseUrl','@courseListUrl','@deleteMessage')">Delete</div>
    <button type="submit" class="submit">Update</button> 
}




