@model ChalkIt.Models.Course

@if(Model.CourseName == null)
{
    <h2>Add a Course</h2>
}
else
{
    <h2>Edit a Course</h2>
}
<br />


<div>
    @Html.LabelFor(m => m.CourseName)
    @Html.TextBoxFor(m => m.CourseName)
    @Html.ValidationMessageFor(m => m.CourseName)
</div>
<br />
<div>
    @Html.LabelFor(m => m.CourseDescription)
    @Html.TextBoxFor(m => m.CourseDescription)
    @Html.ValidationMessageFor(m => m.CourseDescription)
</div>
<div>
    @Html.TextBoxFor(m => m.CourseID,new { style = "display: none;" })
</div>
<br />
@if (Model.CourseName == null)
{
    <button type="submit" class="submit">Add</button> 
}
else
{
    string actionUrl = Url.Action("DeleteCourse", "Author", new { courseID = Model.CourseID });
    <a style="display:inline-block" href='@actionUrl'>
        <div class="buttonStyle">Delete</div>
    </a>
    <button type="submit" class="submit">Update</button> 
}
