@model ChalkIt.Models.Author
@{
    ViewBag.Title = "Chalk it Author";
}

@section styles{
    @Styles.Render("~/Content/author.css")
    @Styles.Render("~/Content/horizontalScrollBar.css")
}

<section id="AuthorHome">
    <div class="right">
        @Html.Partial("_AuthorCourseExercisesList")
    </div>
    <div class="left">
    </div>
    <div id="authorHomeContent">

        <div class="partialViewFormDiv">

            @using (Html.BeginForm("CreateOrModifyCourse", "Author", new { userName = Model.AuthorUserName }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="courseForm">
                    @Html.Partial("_AuthorCourseUpdateCreate", new ChalkIt.Models.Course())
                </div>  
            }
        </div>
        <div class="iconStyleListWrapper">
            @Html.Partial("_AuthorCoursesList", Model.Courses)
        </div>
    </div>
</section>

@section Scripts{
    @Scripts.Render("~/Scripts/AuthorScripts/authorHome.js")
    @Scripts.Render("~/Scripts/horizontalScrollBar.js")
}