@model ChalkIt.Models.Author
@{
    ViewBag.Title = "Chalk it Author";
}

@section styles{
    @Styles.Render("~/Content/author.css")
    @Styles.Render("~/Content/horizontalScrollBar.css")
}
<section id="AuthorHome">
    <div id="authorHomeContent">
        <!-- <button id="hroizontalBarScrollLeftButton">Left</button>
        <button id="hroizontalBarScrollRightButton"> right</button>
        <div class="hroizontalBarScrollFrame">
            <ul class="hroizontalBarScrollSlidee">
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test 123456 iuoue kkj ljljlj Test 123456 iuoue kkj 
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Test
                    </div>
                </li>
                <li>
                    <div class="hroizontalBarScrollItem">
                        Last
                    </div>
                </li>

            </ul>
        </div>
        
           -->

        <div class="partialViewFormDiv">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="courseForm">
                    @Html.Partial("_AuthorCourseUpdateCreate", new ChalkIt.Models.Course())
                 </div>
                <button type="submit" class="submit">Submit</button>   
            }
        </div>



        <ul class="iconStyleListContainer">
            @foreach(ChalkIt.Models.Course course in Model.Courses)
            {
                string redirecturl = Url.Action("Course", "Author", course.CourseID);
                <li>
                    <div class="iconStyleBoxitem" onclick="redirectTo(@redirecturl)">
                        @course.CourseName 
                    </div>
                </li>
            }
        </ul>










    </div>
</section>

@section Scripts{
    @Scripts.Render("~/Scripts/AuthorScripts/authorHome.js")
    @Scripts.Render("~/Scripts/horizontalScrollBar.js")
}